In [13]:
import pandas as pd
from datetime import datetime   

df_daily=pd.read_csv('data.daily.csv', sep='\t') 
df_daily.time=pd.to_datetime(df_daily.time,unit='D',format='%Y-%m-%d')
df_daily=pd.DataFrame(df_daily)
#df_daily['time']=[x.strftime('%m/%d/%Y') for x in df_daily['time']]
df_daily['volume']=10000
df_daily['Adj Close']=df_daily['close']
df_daily = df_daily[['time', 'open', 'high','low','close','volume','Adj Close']]
df_daily.rename(columns={'time': 'Date','open':'Open','high':'High','low':'Low','close':'Close',
                        'volume':'Volume'}, inplace=True)

#df_daily=df_daily.set_index('dt')
print(df_daily.head())
df_daily.to_csv('data_daily.csv', sep=',',index=False)
df_daily=df_daily.set_index('Date')

        Date    Open    High     Low   Close  Volume  Adj Close
0 1990-01-08  411.25  412.00  410.00  410.00   10000     410.00
1 1990-01-09  408.25  408.50  406.25  406.75   10000     406.75
2 1990-01-10  406.00  406.25  403.25  405.50   10000     405.50
3 1990-01-11  406.75  407.00  403.25  404.50   10000     404.50
4 1990-01-12  406.75  406.75  400.75  402.00   10000     402.00

In [14]:
#df_daily
df_09=df_daily['1990-01-10':'1992-12-31']
print(df_09.head())
df_09.to_csv('data_90_92.csv', sep=',',index=True)

              Open    High     Low  Close  Volume  Adj Close
Date
1990-01-10  406.00  406.25  403.25  405.5   10000      405.5
1990-01-11  406.75  407.00  403.25  404.5   10000      404.5
1990-01-12  406.75  406.75  400.75  402.0   10000      402.0
1990-01-15  401.25  401.50  397.75  399.0   10000      399.0
1990-01-16  399.50  401.00  397.75  398.0   10000      398.0

In [6]:

df_15m

                       time        open        high         low       close
0       1990-01-08 15:30:00  411.250000  411.750000  411.000000  411.250000
1       1990-01-08 15:45:00  411.250000  412.000000  411.250000  412.000000
2       1990-01-08 16:00:00  412.000000  412.000000  411.250000  411.250000
3       1990-01-08 16:15:00  411.500000  411.500000  411.000000  411.250000
4       1990-01-08 16:30:00  411.000000  411.500000  411.000000  411.500000
5       1990-01-08 16:45:00  411.250000  411.250000  410.750000  411.000000
6       1990-01-08 17:00:00  410.750000  411.000000  410.750000  410.750000
7       1990-01-08 17:15:00  410.500000  410.750000  410.500000  410.750000
8       1990-01-08 17:30:00  411.000000  411.000000  410.750000  410.750000
9       1990-01-08 17:45:00  411.000000  411.000000  410.500000  410.750000
10      1990-01-08 18:00:00  411.000000  411.000000  410.500000  410.750000
11      1990-01-08 18:15:00  410.500000  410.750000  410.500000  410.750000
12      1990-01-08 18:30:00  410.500000  411.000000  410.500000  410.500000
13      1990-01-08 18:45:00  410.750000  411.250000  410.750000  411.000000
14      1990-01-08 19:00:00  411.250000  411.250000  410.250000  410.250000
15      1990-01-08 19:15:00  410.000000  410.000000  410.000000  410.000000
16      1990-01-09 15:30:00  408.250000  408.500000  407.750000  408.000000
17      1990-01-09 15:45:00  408.250000  408.500000  408.000000  408.000000
18      1990-01-09 16:00:00  408.250000  408.250000  407.500000  408.000000
19      1990-01-09 16:15:00  408.000000  408.250000  407.250000  407.250000
20      1990-01-09 16:30:00  407.250000  407.500000  407.000000  407.000000
21      1990-01-09 16:45:00  407.000000  407.000000  406.250000  406.500000
22      1990-01-09 17:00:00  406.750000  407.000000  406.500000  406.500000
23      1990-01-09 17:15:00  406.750000  407.000000  406.500000  407.000000
24      1990-01-09 17:30:00  406.750000  407.000000  406.750000  407.000000
25      1990-01-09 17:45:00  406.750000  406.750000  406.750000  406.750000
26      1990-01-09 18:00:00  407.000000  407.000000  406.750000  406.750000
27      1990-01-09 18:15:00  406.750000  407.250000  406.750000  407.250000
28      1990-01-09 18:30:00  407.500000  407.500000  407.000000  407.000000
29      1990-01-09 18:45:00  407.250000  407.500000  407.000000  407.000000
...                     ...         ...         ...         ...         ...
187711  2012-12-31 12:30:00   56.412208   56.430518   56.393899   56.430518
187712  2012-12-31 12:45:00   56.393899   56.540376   56.375589   56.540376
187713  2012-12-31 13:00:00   56.540376   56.576996   56.467137   56.522067
187714  2012-12-31 13:15:00   56.522067   56.522067   56.412208   56.448828
187715  2012-12-31 13:30:00   56.448828   56.540376   56.448828   56.522067
187716  2012-12-31 13:45:00   56.503757   56.540376   56.448828   56.522067
187717  2012-12-31 14:00:00   56.522067   56.522067   56.467137   56.467137
187718  2012-12-31 14:15:00   56.503757   56.503757   56.467137   56.503757
187719  2012-12-31 14:30:00   56.485447   56.540376   56.467137   56.467137
187720  2012-12-31 14:45:00   56.485447   56.540376   56.485447   56.540376
187721  2012-12-31 15:00:00   56.522067   56.522067   56.467137   56.503757
187722  2012-12-31 15:15:00   56.485447   56.522067   56.412208   56.448828
187723  2012-12-31 15:30:00   56.576996   56.576996   56.448828   56.448828
187724  2012-12-31 15:45:00   56.375589   56.448828   56.320660   56.320660
187725  2012-12-31 16:00:00   56.320660   56.338969   56.302350   56.302350
187726  2012-12-31 16:15:00   56.302350   56.522067   56.302350   56.522067
187727  2012-12-31 16:30:00   56.485447   56.705164   56.448828   56.668544
187728  2012-12-31 16:45:00   56.668544   56.778402   56.668544   56.760093
187729  2012-12-31 17:00:00   56.741783   56.998119   56.741783   56.998119
187730  2012-12-31 17:15:00   56.961499   56.979809   56.888261   56.943190
187731  2012-12-31 17:30:00   56.906570   57.126287   56.906570   57.126287
187732  2012-12-31 17:45:00   57.107977   57.126287   57.016429   57.016429
187733  2012-12-31 18:00:00   57.016429   57.053048   56.961499   56.998119
187734  2012-12-31 18:15:00   57.016429   57.016429   56.888261   56.906570
187735  2012-12-31 18:30:00   56.888261   56.998119   56.888261   56.943190
187736  2012-12-31 18:45:00   56.961499   56.998119   56.888261   56.888261
187737  2012-12-31 19:00:00   56.906570   56.961499   56.869951   56.906570
187738  2012-12-31 19:15:00   56.943190   56.961499   56.888261   56.924880
187739  2012-12-31 19:30:00   56.906570   56.979809   56.906570   56.979809
187740  2012-12-31 19:45:00   57.016429   57.053048   56.815022   57.053048

[187741 rows x 5 columns]

In [9]:
import pandas as pd
from datetime import datetime   

df=pd.read_csv('data.1_min.csv',header=None,names=('time','price'))


df.time=pd.to_datetime(df.time,unit='ms',format='%Y-%m-%d %H:%M:%S')
df=pd.DataFrame(df)
#df_daily['time']=[x.strftime('%m/%d/%Y') for x in df_daily['time']]
#df_15m['volume']=10000
df_15m['Adj Close']=df_15m['close']
df_15m = df_15m[['time', 'open', 'high','low','close','volume','Adj Close']]
df_15m.rename(columns={'time': 'Date','open':'Open','high':'High','low':'Low','close':'Close',
                        'volume':'Volume'}, inplace=True)

#df_daily=df_daily.set_index('dt')
print(df_15m.head())
df_15m.to_csv('data_15m.csv', sep=',',index=False)
df_15m=df_15m.set_index('Date')

                 Date    Open    High     Low   Close  Volume  Adj Close
0 1990-01-08 15:30:00  411.25  411.75  411.00  411.25   10000     411.25
1 1990-01-08 15:45:00  411.25  412.00  411.25  412.00   10000     412.00
2 1990-01-08 16:00:00  412.00  412.00  411.25  411.25   10000     411.25
3 1990-01-08 16:15:00  411.50  411.50  411.00  411.25   10000     411.25
4 1990-01-08 16:30:00  411.00  411.50  411.00  411.50   10000     411.50